.page
  h2,
  p,
  a
    word-break break-all

// 美化mermaidjs流程图
svg[id^="mermaid"]
  max-width 100% !important
  .nodes
    rect
      fill #3eaf7c !important
      stroke #3eaf7c !important
    .label
      div
        color #fff !important
  .edgePath
    .path
      stroke #2c3e50 !important
  .edgeLabels
    .edgeLabel
      .label
        rect
          opacity 1 !important
          fill #fff !important
          background-color #fff !important
        foreignObject
          overflow unset
        span
          color #2c3e50 !important
          background-color #fff !important
          &.edgeLabel
            position relative
            &:before
            &:after
              content ""
              position absolute
              top 0
              width 10px
              height 100%
              background-color #fff
            &:before
              left -10px
            &:after
              right -10px